* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

body {
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  display: flex;
  flex-direction: column;
}

.header-img {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.2));
}

.container {
  flex: 1;
  position: relative;
  isolation: isolate;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}

.image-1,
.image-2 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-1 {
  width: 375px;

}

.image-2{
  width: 250px;
}


.another-image {
  display: none; /* Initially hide the image */
  width: 200px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 20px; /* Adjust margin as needed */
  border-radius: 8px; /* Add rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}


.btn {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(193, 163, 98);
  border: 2px solid rgb(193, 163, 98);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0);
}

.btn::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgba(255, 215, 0, 0.3); /* Golden color with transparency */
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn:hover::before {
  scale: 3;
}

.btn:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.4); /* Golden glow effect */
}

.btn:active {
  scale: 1;
}

.btn-yes {
  position: absolute;
  top: calc(100% - 5rem);
  left: 50%;
  transform: translateX(calc(-100% - 1rem));
  z-index: 1;
}

.btn-no {
  position: absolute;
  top: calc(100% - 5rem);
  left: calc(50% + 1rem);
  transition: all 0.5s ease;
  z-index: 2;
}

/* New style for bright golden buttons */
.btn-static {
  color: rgb(255, 215, 0); /* Bright golden color */
  border-color: rgb(255, 215, 0); /* Bright golden border color */
}

.btn-static:hover::before {
  background-color: rgba(255, 215, 0, 0.6); /* Increase transparency for golden glow */
}
